/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
    width: 90%;
    margin:auto;
    text-align: center;
    
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    border-radius: 10px;
}
h1, h2, h3 {
    color: #000099;
    font-family: 'Abel';
}
header img {}
header .subheading {
    color: #66CDFF;
    font-size: 1.3em;
    margin-bottom: 10px;
}

   /* NAV STYLE */

nav{
    background-color: #009BFF;
    border: 2px solid #52471b;
    box-shadow: 2px 2px 2px;
}
nav{
    font-weight: bold;
}
nav a:link{
    color: #000099;
}
nav a:visited{
    color: #00FF98;
}
nav a:hover{
    color: #CB99FF;
}
nav a:active{
    color: #fffafe;
}
nav a:link{
    text-decoration: none;
}
nav li{
    list-style:none;
    display: inline;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

figure+section, .forecast{
    width: 80%;
    min-width: 320px;
    border: 5px solid black;
    border-radius: 10px;
    display: inline-table;
    font-size: 1.2em;
}
.forecast{
    border: none;
    width: 60%;
    background-color: #009967;
    color: #00FF98;
}
figure+section{
    margin-bottom: 20px;
}
table{
    display: inline-table;
    border: 1px solid #CB99FF;
}

.conditionsColumn1, .highlowColumn1, .conditionsColumn2, .highlowColumn2{
    font-size: 1.2em;
    float: left;
    width: 50%;

}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: ???; /* fill the page in the small/phone view */
  margin: ???;
}

footer {
    background-color: #3333FF;
    color: #99FFCB;
    border-radius: 10px;
    
}
footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */